<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>DictionaryProject</display-name>
  <welcome-file-list>
    <welcome-file>lookup.jsp</welcome-file>
    <welcome-file>add.jsp</welcome-file>
    <welcome-file>delete.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
		<servlet-name>Lookup</servlet-name>
		<servlet-class>ie.gmit.sw.controller.DictionaryController</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>ie.gmit.sw.controller.DictionaryControllerAdd</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>ie.gmit.sw.controller.DictionaryControllerDelete</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Lookup</servlet-name>
		<url-pattern>/lookup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
</web-app>